:root {
    --blancot:rgba(255, 255, 255, 0.724);
    --gris: #f2f2f2;
    --grisOscuro: #878686;
    --magenta: #ff0080;
    --azul: #45f5effd;
    --naranja2: #f2a341;
    --naranja3: #d9863d;
    --negro: #292929;
    --footerHeight: 10vh;
  }
  
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
  }

.back{
    background: linear-gradient(var(--azul), transparent),
    linear-gradient(to top left, rgb(0, 255, 162), transparent),
      linear-gradient(to top right,var(--magenta), transparent);
    background-blend-mode: screen;
    display: flex;
    justify-content: center;
}
    
