
    <article class="contIngresar" id="contIngresar">
        <form style="width: 100%" action="" method="post">
            <label class="tituloLogin" for="loginTit">Ingresa a tu Cuenta</label>
            <br />
            <p>
              <input
                class="barraInput"
                type="text"
                name="userNameSend"
                id="userName"
                minlength=" 2"
                placeholder="Nombre de Usuario"
              />
            </p>
            <p>
              <input
                class="barraInput"
                type="password"
                name="contrasenaSend"
                id="contrasena"
                minlength=" 2"
                placeholder="Contraseña"
              />
            </p>
            <button class="enviarLogin" type="submit" >
              <a style="text-decoration: none;" href="/">Enviar</a>
            </button>
          </form>
    </article>